{
  "env": {
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": "standard",
  "rules": {
    "no-undef":"warn",
    "semi": [
      "error",
      "always"
    ],
    "no-multi-spaces": [
      "error",
      {
        "exceptions": {
          "VariableDeclarator": true
        }
      }
    ]
  }
}